// Pointers to profile configs
//    you can select the relevant profile from the command line with -profile <profile-name>
//    e.g. nextflow run main.nf -profile awsbatch


profiles { 
  local { 
    includeConfig './conf/local.config' 
    }
  awsbatch_spot { 
    includeConfig './conf/awsbatch_spot.config' 
    }
  awsbatch { 
    includeConfig './conf/awsbatch.config' 
    }
}
