/*
* This configuration file is the one used when indicating the Nextflow parameter -profile awsbatch_spot
*/

//region where we want to run this in
aws.region = '<REGION>'

//restrict the number of parallel downloads in an attempt to prevent the docker timeout error
aws.batch.maxParallelTransfers = 5

//path to the aws cli tool
aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'

//specify the S3 work directory
workDir = '<S3-PATH>'

//spot instance retries
aws.batch.maxSpotAttempts = 3

process {
    // definition of the awsbatch executor. Run the pipeline in a AWS node able to submit jobs via batch submission
    executor = 'awsbatch'

    withName: '<PROCESS-NAME>' {
        container = '<ECR-URI>'
        cpus = 1
        memory = 4.GB
        queue = '<SPOT-BATCH-QUEUE-NAME>'
    }

}
