/*
* This configuration file is for local runs
*/

docker {
    runOptions= "-v $HOME:$HOME"
    enabled = true
}

executor {
    name = 'local'
    cpus   = 8
    memory = '20GB'
}

process {

    withName: '<process-name>' {
        container = '<container-name>'
        cpus = 2
        memory = 4.GB
    }

}

